@import '../utilities/variables', '../utilities/mixin';

/*---Media Queries --*/
@media screen and (max-width: 768px) {
	.grid-container-fotos {
		width: 95%;
		@include grid_tamanio (2, 200px, 10px);
		div {
			height: 200px;
		}
		.item1 {
			&:nth-child(1) {
				@include tamanio_fila (1);
				object-fit: cover;
				@include tamanio_completo;
			}
		}
		.item2 {
			&:nth-child(2) {
				@include tamanio_columna (1);
			}
		}
	}
	.caja-producto {
		width: 95%;
	}
	.container-nosotros {
		grid-template-columns: auto;
		.container-nosotros-texto{
			margin-top: 5%;
			h3 {
			font-size: 100%;
			}
			p {
			font-size: 80%;
			margin-bottom: 2%;
			}
			span {
			font-size: 120%;
			}
		}
	}
	.container-galeria {
		width: 95%;
		@include grid_tamanio (2, 200px, 10px);
		.box-img {
			&:nth-child(1) {
				@include tamanio_columna (1);
			}
			&:nth-child(9) {
				@include tamanio_columna (1);
			}
			figure{
				@include sombras_img(5px);
			}
		}
	}
}
@media screen and (max-width: 576px) {
	.grid-container-fotos {
		width: 90%;
		@include display_grid(1);
		.item2 {
			&:nth-child(2) {
				height: 200px;
			}
		}
		.item1 {
			&:nth-child(1) {
				height: 200px;
			}
		}
	}
	.container-nosotros {
		@include display_grid(1);
	}
	.container-galeria {
		width: 90%;
		@include display_grid(1);
		.box-img {
			img {
				height: 210px;
			}
			figure{
				box-shadow: none;

			};
		}
	}
}

