*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
@font-face {
    font-family: "Poppins-Regular";
    src: url("../fonts/Poppins-Regular.otf");
}
@font-face {
    font-family: "Poppins-Bold";
    src: url("../fonts/Poppins-Bold.otf");
}
body {
    font-family: "Poppins-Regular";
    background-color: #f1c6958e;
    color: #5f3820;
}

h3{
    font-family: "Poppins-Bold";
    font-size: 2rem;
    margin: 15px;
}
p{
    font-size:1.05rem ;
}
h4{
    font-size:1.3rem ;
}
a{
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    color: #5f3820;
}
footer{
    width: 100%;
    height: 100%;
    display: inline-block;
    text-align: center;
    background-color: #5f3820;
    color: #f1c6958e;
    padding: 10px;
}
header{
    background-color: #f1c6958e;
    box-shadow: 0px 3px 8px #5f3820;
}
.navbar{
    background-color: #f1c6958e;
    color: #5f3820;
}
/* .lista{
    display: inline;
    font-family: "Poppins-Bold";
} */

/* .nav-bar{
    display: inline;
    margin-left: 0%;
} */
/* .encabezado{
    display: inline;
    margin-left: 0%;
    margin: 2px;
} */
.imagen-logo{
    width: 7em;
}
.imagen-principal{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0%;
    border: 0%;
}
.titulo-foto{
    position: absolute;
    top: 350px;
    width: 40%;
    color: #f1c6958e;
    left: 50px;
}
.link-nosotros{
    border: solid 2px #f1c6958e;;
    position: absolute;
    color: #f1c6958e;
    top: 500px;
    left: 50px;
}
.caja-pasteleria{
    display: inline-block;
    width: 100%;
    height: 688px;
}
.caja-titulos-pasteleria{
    display: inline-block;
    position: relative;
    left: 1200px;
    bottom: 280px;
    text-align: right;
}
.img-pasteleria{
    display: inline-block;
    width: 50%;
    position: relative;
    right: 440px;
    top: 5px;
    text-align: left;
}
.titulo-pasteleria{
    display: inline-block;
    font-family: "Poppins-Bold";
    font-size: 2rem;
    text-align: right;
}
.caja-panaderia{
    width: 100%;
    display: inline-block;
}
.img-panaderia{
    display: inline-block;
    width: 50%;
    text-align: right;
}
.caja-titulos-panaderia{
    display: inline-block;
    text-align: left;
    width: 940px;
    position: relative;
    left: 200px;
    bottom: 200px;
}
.titulo-panaderia{
    display: inline-block;
    font-family: "Poppins-Bold";
    font-size: 2rem;
    text-align: left;
}
.caja-puntos{
    display: inline-block;
    text-align: center;
    width: 100%;
    background-color: antiquewhite;
}
.caja-cal-exp-tend{
    margin-top: 20px;
    text-align: center;
    display: inline-block;
    width: 500px;
    margin: 20px;
}
.img-cal-exp-tend{
    width:300px;
    height:300px;
    border-radius:150px;
    border: solid 3px #5f3820;
}
.titulo-cal-exp-tend{
    font-family: "Poppins-Bold";
    font-size: 18px;
}
.link-productos{
    border: solid 2px #5f3820;
}
.titulo-info{
    text-align: center;
    font-size: 25px;
    font-family: "Poppins-Bold";
    margin-bottom: 10px;
}
.caja-info{
    text-align: center;
    width: 100%;
    display: inline-block;
}
.caja-direccion-horario{
    width: 500px;
    height: 200px;
    display: inline-block;
    padding: 20px;
}
.parrafo{
    padding-bottom: 30px;
}
.productos{
    display: inline-block;
    width: 100%;
}
.caja-producto{
    margin: 20px;
    display: inline-block;
    text-align: center;
    width: 420px;
}
.img-torta{
    width:300px;
    height:300px;
    border-radius: 5px;
}
.contacto{
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}
.parrafo-contacto{
    width: 40%;
    padding: 10px;
}
.formulario{
    display: inline-block;
    height: 300px;
    padding: 10px;
    margin: 20px;
    position: relative;
    left: 30%;
    bottom: 40px;
}
.caja-contacto{
    display: inline-block;
    position: relative;
    left: 30%;
    width: 400px; 
    bottom: 90px;
}
.item-contacto{
    display: inline-block;
    width: 100%;
}
.parrafo-item-contacto{
    display: inline-block;
}
.btn-formulario{
    border: solid 2px #5f3820;
    font-family: "Poppins-Regular";
    background-color: #f1c6958e;
    color: #5f3820;
    font-size: 18px;
    padding: 8px;
    margin: 10px;
    border-radius: 5px;
}
.input-form{
    border: solid 2px #5f3820;
    border-radius: 5px;
    padding: 10px;
    width: 400px;
}
.imagenes-galeria{
    display: inline-block;
    text-align: center;
}
.img-galeria{
    width: 500px;
    margin: 5px;
    border-radius: 5px;
}
.caja-empresa{
    text-align: center;
    width: 100%;
    padding: 20px;
}
.item-empresa{
    display: inline-block;
    width: 1000px;
    margin-top: 0px;
    padding: 10px;
}
.img-empresa{
    height: 500px;
    width: 1000px;
    border-radius: 5px;
}
.caja-historia{
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 20px;
}
.img-historia{
    display: inline-block;
    width: 350px;
    height: 500px;
    border-radius: 5px;
}
.item-historia{
    display: inline-block;
    width: 20%;
    text-align: left;
    padding: 10px;
    margin: 10px;
    position: relative;
    bottom: 120px;
}
.caja-mision-vision{
    display: inline-block;
    margin: 10px;
    text-align: center;
    width: 40%;
    padding: 20px;
}


