@charset "UTF-8";
@font-face {
  font-family: "Poppins-Regular";
  src: url("../assets/fonts/Poppins-Regular.otf");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("../assets/fonts/Poppins-Bold.otf");
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Poppins-Regular";
  color: #5f3820;
  background-color: #f1c695;
  height: 100%;
  width: 100%;
}

/* NavBar */
.navbar-nav li {
  padding-right: 20px;
}

.nav-link {
  font-family: "Poppins-Bold";
  color: #5f3820;
  font-size: 1.1em !important;
}

.dropdown-item {
  font-family: "Poppins-Bold";
  color: #5f3820;
  font-size: 1.1em !important;
}
.dropdown-item:hover {
  background-color: rgba(153, 85, 43, 0.662745098);
  color: #5f3820;
}

.dropdown-menu {
  background-color: #f1c695;
}

.imagen-logo {
  width: 110px;
}

/* Carousel */
.carousel-inner img {
  height: 100%;
  width: 100%;
}

.carousel {
  box-shadow: 5px 10px 18px #5f3820;
}

.carousel-item {
  height: 50%;
  color: #5f3820;
}

/* Titulo post-carousel */
.section-title-index h2 {
  border-top: solid 2px #5f3820;
}
.section-title-index span {
  font-family: "Poppins-Bold";
  color: #99552b;
  font-size: 160%;
}

/* Sección de 'Nuestros Servicios' */
.section-servicios {
  background-color: #f3d4b1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  padding-top: 15px;
}

.container-servicios {
  transition: all ease 0.2s;
  padding-top: 2%;
}
.container-servicios p {
  font-size: 90%;
}
.container-servicios h4 {
  font-family: "Poppins-Bold";
}
.container-servicios img {
  width: 200px;
  height: 200px;
  border-radius: 150px;
  border: solid 3px #5f3820;
  object-fit: cover;
  margin-bottom: 1%;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.container-servicios img:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.container-title-servicios {
  font-family: "Poppins-Bold";
}

/* Sección 'Redes Sociales' */
.container-redes {
  margin-top: 20px;
  margin-bottom: 20px;
}
.container-redes i {
  color: #5f3820;
  font-size: 2.5em;
  padding: 2%;
}
.container-redes h3 {
  font-family: "Poppins-Bold";
}

/* Container Imagenes-Link de productos */
.grid-container-fotos {
  width: 100%;
  max-width: 1500px;
  margin: auto;
  padding: 1%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 300px;
  grid-gap: 20px;
}
.grid-container-fotos img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: 0.5s;
  opacity: 0.8;
}
.grid-container-fotos img:hover {
  transform: scale(1.2);
}
.grid-container-fotos div {
  text-align: center;
  padding: 20px;
  font-size: 30px;
  overflow: hidden;
}
.grid-container-fotos .item1:nth-child(1) {
  grid-row-start: span 2;
}
.grid-container-fotos .item2:nth-child(2) {
  grid-column-start: span 2;
}
.grid-container-fotos h3 {
  font-size: 100%;
  font-family: "Poppins-Regular";
  text-align: center;
  display: inline-block;
}

.grid-container-fotos-title {
  display: inline;
  position: relative;
  bottom: 60%;
  color: white;
  text-shadow: 1px 1px 10px black;
}

/* Sección 'Productos' */
.caja-producto {
  text-align: center;
  background-color: white;
  box-shadow: 5px 10px 18px #5f3820;
  padding: 10px;
  border-radius: 2%;
  margin-top: 20px;
  display: inline-block;
  transition: 0.5s;
}
.caja-producto img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}
.caja-producto:hover {
  transform: scale(1.05);
}
.caja-producto h4 {
  margin-top: 10px;
  font-size: 150%;
  font-family: "Poppins-Bold";
}
.caja-producto p {
  margin-top: 5px;
  font-size: 90%;
}
.caja-producto .precio {
  display: block;
  font-size: 100%;
  margin-top: 10px;
}
.caja-producto .boton-comprar {
  display: inline-block;
  background-color: rgba(95, 56, 32, 0.7450980392);
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  border-radius: 3px;
}
.caja-producto .boton-comprar:hover {
  background-color: #99552b;
}

.container-productos {
  margin-bottom: 3%;
}

.container-title {
  font-family: "Poppins-Bold";
}

footer {
  text-align: center;
  background-color: rgba(95, 56, 32, 0.7450980392);
  color: rgba(241, 198, 149, 0.5568627451);
  padding: 10px;
}
footer .btn-outline-light {
  display: inline-block;
  border: 2px rgba(241, 198, 149, 0.5568627451) solid;
  color: rgba(241, 198, 149, 0.5568627451);
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  border-radius: 3px;
}
footer .btn-outline-light:hover {
  background-color: #f1c695;
  color: #5f3820;
  border: 2px #f1c695 solid;
}
footer .imagen-logo {
  width: 110px;
}

/* Formulario */
.container-formulario .form {
  background: #f3d4b1;
  width: 90%;
  max-width: 650px;
  margin: auto;
  padding: 5px 35px;
  margin-top: 30px;
  padding-bottom: 30px;
  border-radius: 3px;
}
.container-formulario .form .form-label {
  display: block;
  color: #5f3820;
  font-size: 110%;
  position: relative;
}
.container-formulario .form .form-input {
  background: rgba(207, 148, 110, 0.6039215686);
  border: none;
  outline: none;
  border-bottom: 2px solid #5f3820;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 2px;
  font-size: 14px;
  font-family: "Poppins-Regular";
}
.container-formulario .form .form-textarea {
  resize: vertical;
  max-height: 150px;
  min-height: 50px;
}
.container-formulario .form .btn-formulario {
  width: 100%;
  outline: none;
  font-size: 110%;
  border: none;
  color: rgba(207, 148, 110, 0.6039215686);
  padding: 15px 0;
  cursor: pointer;
  background-color: rgba(95, 56, 32, 0.7450980392);
}
.container-formulario .form .btn-formulario:hover {
  background: rgba(95, 56, 32, 0.6039215686);
  color: #5f3820;
}

.form-title {
  font-family: "Poppins-Bold";
  text-align: center;
  margin: 1%;
}

.form-textarea {
  background: rgba(207, 148, 110, 0.6039215686);
  border: none;
  outline: none;
  border-bottom: 2px solid #5f3820;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 2px;
  font-size: 14px;
  font-family: "Poppins-Regular";
}

.container-title p {
  font-family: "Poppins-Regular";
}

/* Sección 'Galería' */
.container-galeria {
  width: 100%;
  max-width: 1500px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px;
  grid-gap: 15px;
}
.container-galeria .box-img figure {
  height: 100%;
  width: 100%;
  box-shadow: 5px 10px 10px #5f3820;
  position: relative;
  overflow: hidden;
}
.container-galeria .box-img:nth-child(1) {
  grid-column-start: span 2;
}
.container-galeria .box-img:nth-child(4) {
  grid-row-start: span 2;
}
.container-galeria .box-img:nth-child(9) {
  grid-column-start: span 2;
}
.container-galeria img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.container-galeria img:hover {
  transform: scale(1.1);
}
.container-galeria .intro {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: "Poppins-Bold";
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.container-galeria .intro:hover {
  opacity: 1;
}

/* Sección 'Nosotros' */
.container-nosotros {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.container-nosotros .container-nosotros-item {
  object-fit: cover;
  text-align: center;
  height: 42.7vh;
}
.container-nosotros .container-nosotros-item .img-nosotros {
  height: 100%;
  width: 100%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.container-nosotros .container-nosotros-item .img-dibujo {
  width: 150px;
}
.container-nosotros .container-nosotros-item p {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  font-size: 110%;
}
.container-nosotros .container-nosotros-item span {
  font-family: "Poppins-Bold";
  color: #99552b;
  font-size: 160%;
}

/*---Media Queries --*/
@media screen and (max-width: 768px) {
  .grid-container-fotos {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px;
    grid-gap: 10px;
  }
  .grid-container-fotos div {
    height: 200px;
  }
  .grid-container-fotos .item1:nth-child(1) {
    grid-row-start: span 1;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .grid-container-fotos .item2:nth-child(2) {
    grid-column-start: span 1;
  }
  .container-nosotros {
    grid-template-columns: auto;
  }
  .container-nosotros .container-nosotros-item:nth-child(3) {
    order: 4;
  }
  .container-nosotros .container-nosotros-item p {
    font-size: 100%;
  }
  .container-nosotros .container-nosotros-item span {
    font-size: 130%;
  }
  .container-galeria {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px;
    grid-gap: 10px;
  }
  .container-galeria .box-img:nth-child(1) {
    grid-column-start: span 1;
  }
  .container-galeria .box-img:nth-child(9) {
    grid-column-start: span 1;
  }
  .container-galeria .box-img figure {
    box-shadow: 5px 10px 5px #5f3820;
  }
  .contenedor-fondo h2 {
    font-size: 130%;
  }
}
@media screen and (max-width: 576px) {
  .grid-container-fotos {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .grid-container-fotos .item2:nth-child(2) {
    height: 200px;
  }
  .grid-container-fotos .item1:nth-child(1) {
    height: 200px;
  }
  .container-nosotros {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .container-nosotros .container-nosotros-item:nth-child(3) {
    order: 4;
  }
  .container-nosotros .container-nosotros-item p {
    font-size: 100%;
  }
  .container-nosotros .container-nosotros-item span {
    font-size: 130%;
  }
  .container-nosotros .container-nosotros-item .img-dibujo {
    width: 100px;
  }
  .container-galeria {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .container-galeria .box-img figure {
    box-shadow: none;
  }
  .caja-producto {
    width: 95%;
  }
  .contenedor-fondo {
    height: auto;
  }
}

/*# sourceMappingURL=styles.css.map */
