@import '../utilities/variables', '../utilities/mixin';

/* Sección 'Galería' */
.container-galeria {
	width: 100%;
	max-width: 1500px;
	margin: auto;
	margin-top: 60px;
	margin-bottom: 60px;
	overflow: hidden;
	@include grid_tamanio (3, 250px, 15px);
	.box-img {
		figure {
			@include tamanio_completo;
			@include sombras_img(10px);
			position: relative;
			overflow: hidden;
		}
		&:nth-child(1) {
			@include tamanio_columna(2);
		}
		&:nth-child(4) {
			@include tamanio_fila(2);
		}
		&:nth-child(9) {
			@include tamanio_columna(2);
		}
	}
	img {
		@include tamanio_completo;
		object-fit: cover;
		transition: transform 0.3s ease;
		&:hover {
			transform: scale(1.1);
		}
	}
	.intro{
		position: absolute;
		top: 0;
		left: 0;
		@include tamanio_completo;
		background-color: rgba(0,0,0,0.5);
		color: white;
		font-family: $font-family_negrita;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
		transition: opacity 0.3s ease;
		&:hover{
			opacity: 1;
		}
	}
}
  
  