@import "variables";

@mixin contenido_estilo_regular{
    font-family: $font-family_regular;
	color: $color_tipografia_oscuro;
}
@mixin contenido_estilo_negrita{
    font-family: $font-family_negrita;
	color: $color_tipografia_oscuro;
}
@mixin tamanio_completo{
    height: 100%;
	width: 100%;
}