$color_tipografia_oscuro: #5f3820;
$color_tipografia_claro: #f1c6958e;
$color_tipografia_letras_grandes: #99552b;

$font-family_regular: "Poppins-Regular";
$font-family_negrita: "Poppins-Bold";

$background-color_claro: #f1c695;
$background-color_oscuro: #5f3820be;
$background-color_hover: #99552ba9 ;
$background-color_nosotros: #f3d4b1;

$shadow-color_text-img: #5f3820;