@import '../utilities/variables', '../utilities/mixin';

/* Sección 'Redes Sociales' */
.container-redes {
	i {
		color: $color_tipografia_oscuro;
		font-size: 2.5em;
		padding: 2%;
	}
	margin-top: 2%;
	margin-bottom: 2%;
	h3 {
		font-family: $font-family_negrita;
	}
}