@import '../utilities/variables';

footer {
	text-align: center;
	background-color: $background-color_oscuro;
	color: $color_tipografia_claro;
	padding: 10px;
	.btn-outline-light{
		display: inline-block;
		border: 2px $color_tipografia_claro solid;
		color: $color_tipografia_claro;
		padding: 5px 10px;
		text-decoration: none;
		margin-top: 10px;
		border-radius: 3px;
		&:hover {
			background-color: $background-color_claro;
			color: $color_tipografia_oscuro;
			border: 2px $background-color_claro solid;
		}
	}
	.imagen-logo {
		width: 110px;
	}
}