@import '../utilities/variables', '../utilities/mixin';

/* Container Imagenes-Link de productos */
.grid-container-fotos {
	width: 100%;
	max-width: 1500px;
	margin: auto;
	padding: 1%;
	@include grid_tamanio (3, 300px, 20px);
	img {
		object-fit: cover;
        @include tamanio_completo;
		transition: 0.5s;
		opacity: 0.8;
		&:hover {
			transform: scale(1.2);
		}
	}
	div {
		text-align: center;
		padding: 20px;
		font-size: 30px;
		overflow: hidden;
	}
	.item1 {
		&:nth-child(1) {
			@include tamanio_fila (2);
		}
	}
	.item2 {
		&:nth-child(2) {
			@include tamanio_columna(2);
		}
	}
	h3 {
		font-size: 100%;
		font-family: $font-family_regular;
		text-align: center;
		display: inline-block;
	}
}
.grid-container-fotos-title {
	display: inline;
	position: relative;
	bottom: 60%;
	color: white;
	@include sombras_text(black);
}
/* Sección de 'Nuestros Servicios' */
.section-servicios {
	background-color: $background-color_claro;
}
.container-servicios {
	padding: 2%;
	p {
		font-size: 90%;
	}
	h4 {
		font-family: $font-family_negrita;
	}
	img {
		width: 200px;
		height: 200px;
		border-radius: 150px;
		border: solid 3px $color_tipografia_oscuro;
		object-fit: cover;
		margin: 1.5%;
	}
}
.container-title-servicios {
	font-family: $font-family_negrita;
}
