@import '../utilities/variables', '../utilities/mixin';

/* Sección 'Productos' */
.caja-producto {
	text-align: center;
	background-color: white;
	@include sombras_img (18px);
	padding: 10px;
	border-radius: 2%;
	margin-top: 20px;
	display: inline-block;
	transition: 0.5s;
	img {
		width: 100%;
		max-height: 300px;
		object-fit: cover;
	}
	&:hover {
		transform: scale(1.05);
	}
	h4 {
		margin-top: 10px;
		font-size: 150%;
		font-family: $font-family_negrita;
	}
	p {
		margin-top: 5px;
		font-size: 90%;
	}
	.precio {
		display: block;
		font-size: 100%;
		margin-top: 10px;
	}
	.boton-comprar {
		display: inline-block;
		background-color: $background-color_oscuro;
		color: white;
		padding: 5px 10px;
		text-decoration: none;
		margin-top: 10px;
		border-radius: 3px;
		&:hover {
			background-color: $color_tipografia_letras_grandes;
		}
	}
}
.container-productos {
	margin-bottom: 3%;
}
.container-title {
	font-family: $font-family_negrita;
}